
h1 {
    text-align: center;
}

#add-event-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 310px;
    margin:auto;
}




/* Main page*/

.card {
    width: 310px;
    outline: solid 2px purple;
    padding: 10px;
}

#event-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 310px;
    margin:auto;
}

