#container {
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-1 {
  width: 324px;
  min-height: 341px;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-family: montserrat;
  text-align: left;
  padding: 1cm 1cm 1cm 1cm;
  background-color: white;
  position: relative;
}

input:focus {
  border: none;
}

::placeholder {
  font-style: italic;
}

#addMessageButton:active {
  background-color: #6ac570;
  color: black;
}

.date-styling {
  font-size: 10px;
  text-align: center;
  margin-bottom: -12px;
}

#noCommentsYetMessage {
  font-size: 16px;
  line-height: 35px;
  padding: 12px 12px 12px 12px;
  background: white;
  border-radius: 22px;
  color: #b3b3b3;
  line-height: 25px;
  font-style: italic;
}

input {
  width: 100%;
  height: 35px;
  border: none;
  font-size: 16px;
  outline: none;
  vertical-align: middle;
  border-radius: 22px;
  text-indent: 10px;
}

#addMessageButton {
  position: absolute;
  right: 4px;
  width: 31px;
  height: 31px;
  font-size: 16px;
  border: none;
  vertical-align: middle;
  cursor: pointer;
  color: white;
  background-color: #303a49;
  border-radius: 22px;
}

#inputBox {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 40px;
}

#chatMessages {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

#chatBox {
  padding: 35px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 394px;
  height: 412px;
  background: #fefefe;
  border-top: 1px solid #b0b0b0;
}

.message-styling {
  font-size: 18px;
  line-height: 35px;
  border: 2px solid #e5e5e5;
  background: #e5e5e5;
  border-radius: 10px;
  color: #303a49;
  line-height: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


/* Dropdown area on card*/
.expand-button {
  background-color: white;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.bottom-area {
  width: 100%;
  display: none;
  margin-top: 16px;
}

.content {
  overflow: hidden;
  background-color: white;
}

.flipped {
  transform: rotateX(180deg);
}

#expand-icon {
  transition: 200ms;
}


#myBtn {
  border-radius: 40px;
  padding: 10px;
  margin-top: 30px;
  text-align: center;
  width: 324px;
  margin-top: 35px;
  border-color: #303a49;
  font-size: 16px;
  border: 1px solid #303a49;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 40px 50px 40px 50px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

#listOfPeople {
  font-size: 20px;
  list-style: none;
  line-height: 40px;
}

.list-style {
  list-style: circle;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*For mobile*/

@media only screen and (max-width: 390px) {
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px 30px 40px 50px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
  }

  #listOfPeople {
    font-size: 13px;
    list-style: none;
    line-height: 40px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
}


/* Chatbox*/
input:focus {
  border: none;
}

::placeholder {
  font-style: italic;
}

#addMessageButton:active {
  background-color: #6ac570;
  color: black;
}

.date-styling {
  font-size: 10px;
  text-align: center;
  margin-bottom: -12px;
}

#noCommentsYetMessage {
  font-size: 18px;
  line-height: 35px;
  padding: 10px 10px 10px 10px;
  border: 2px solid #dfdfdf;
  background: #dfdfdf;
  border-radius: 22px;
  color: black;
  line-height: 25px;
  font-style: italic;
}

input {
  width: 100%;
  height: 35px;
  border: none;
  font-size: 16px;
  outline: none;
  vertical-align: middle;
  border-radius: 22px;
  text-indent: 10px;
}

#addMessageButton {
  position: absolute;
  right: 4px;
  width: 31px;
  height: 31px;
  font-size: 16px;
  border: none;
  vertical-align: middle;
  cursor: pointer;
  color: white;
  background-color: red;
  border-radius: 22px;
}

#inputBox {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #686868;
  border-radius: 22px;
  margin-bottom: 10px;
}

#chatMessages {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

#chatBox {
  border: 1px solid rgb(195, 195, 195);
  margin-bottom: 10px;
  width: 323px;
}

.message-styling {
  font-size: 18px;
  line-height: 35px;
  border: 2px solid #dde2ff;
  background: #dde2ff;
  border-radius: 22px;
  color: black;
  line-height: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 500px) {
  
}

@media only screen and (min-width: 501px) {
  #container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .destkop-heading {
    font-size:48px;
  }
  #about-event{
    width:50%;
    max-width:600px;
    margin-top:0px;
    float: left;
  }
  #comment-section{
    width: 50%;
    max-width:600px;
    margin-top:0px;
    float: right;
  }

  #myBtn{
    margin-top:0px;
  }
}