#type-btn {
  text-align: center;
  font-family: montserrat;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  max-width: 322px;
  margin-left: auto;
  margin-right: auto;
}

.card-button:hover {
  box-shadow: rgba(82, 82, 82, 0.3) 2px 7px 7px 0px,
    rgba(85, 85, 85, 0.15) 0px 2px 6px 2px;
  background-color: aqua;
}

#science-button {
  font-size: 10px;
  font-family: montserrat;
  color: #f3f4f6;
  font-weight: 500;
  padding: 5px 16px;
  border: none;
  background-color: #b26f75;
  width: 100px;
  height: 32px;
  cursor: pointer;
  border-radius: 15px;
}

.science-button: :hover {
  box-shadow: rgba(82, 82, 82, 0.3) 2px 7px 7px 0px,
    rgba(85, 85, 85, 0.15) 0px 2px 6px 2px;
}

#conference-button {
  font-size: 10px;
  font-family: montserrat;
  color: #f3f4f6;
  font-weight: 500;
  padding: 5px 16px;
  border: none;
  background-color: #5e9991;
  width: 100px;
  height: 32px;
  cursor: pointer;
  border-radius: 15px;
}

#social-button {
  font-size: 10px;
  font-family: montserrat;
  color: #f3f4f6;
  font-weight: 500;
  padding: 5px 16px;
  border: none;
  background-color: #769ab2;
  width: 100px;
  height: 32px;
  cursor: pointer;
  border-radius: 15px;
}

#total-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  padding-bottom: 200px;
}

input,
textarea {
  width: 100%;
  background: #ffffff;
  margin-top: 8px;
  margin-bottom: 10px;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
}

textarea {
  height: 90px;
  resize: none;
}

input {
  height: 40px;
}

#add-event {
  height: 40px;
  background: #303a49;
  color: #ffffff;
  border-radius: 9999px;
  border-style: none;
}

#event-date {
  color: rgb(133, 133, 133);
  padding: 10px;
}

#start-time {
  color: rgb(133, 133, 133);
  padding: 10px;
}

#end-time {
  color: rgb(133, 133, 133);
  padding: 10px;
}

#event-description {
  padding: 10px;
}

#event-name {
  padding: 10px;
}

#add-event-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 310px;
  margin: auto;
}

@media only screen and (min-width: 501px) {
  #type-btn {
    max-width: 50%;
  }

  #add-event-form {
    max-width: 80%;
  }

  #science-button,
  #conference-button,
  #social-button {
    width: 25%;
    font-size: 14px;
  }

  #add-event {
    width: 50%;
    margin-left: 25%;
  }
}
